<div class="mx-auto mt-3">
      <h3>Hi, I'm Sebastian</h3>
      <p>I am interested in exploring a career in front end development and providing an engaging user experience.
    
          I am open to new languages and learning opportunities, always eager to try the newest and greatest.
          My technical expertise includes:</p>
      <ul>
        <li>Object Oriented Analysis and Design using various languages and frameworks</li>
        <li>Developing an automated testing framework</li>
        <li>Contributing to a growing DevOps solution</li>
        <li>Integrating software components in a large, complex software solution, testing software, and post-deployment support.</li>
      </ul>
      <p>My academic background includes a diploma in Computer Systems Technology from BCIT and a Bachelor of Science in Life Sciences from UBC.</p>
</div>
