<!-- Navigation -->

<div class="container">
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a href="/portfolio/about-me" routerLinkActive="active" class="navbar-brand">Sebastian Pelka</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="/about-me" routerLinkActive="active" class="nav-link">About Me</a>
      </li>
      <li class="nav-item">
        <a routerLink="/project-listing" routerLinkActive="active" class="nav-link">Projects</a>
      </li>
      <li class="nav-item">
        <a routerLink="/experience-listing" routerLinkActive="active" class="nav-link">Experience</a>
      </li>
      <li class="nav-item">
        <a href="https://www.linkedin.com/in/sebastian-pelka-4502a581/" routerLinkActive="active" class="nav-link">LinkedIn</a>
      </li>
    </ul>
  </div>
</nav>

</div>
<div class="container">
  <router-outlet></router-outlet>
</div>